.reciever {

  header {
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: .55px solid rgba(0,0,0,.3);

    // 055 Sharp Blues
    // background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);

    // 030 Happy Fisher
    // background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

    & > div {
      max-width: 940px;
      margin: 0 auto;
      padding: 0 16px;

      display: flex;
      align-items: center;  

      h2 {
        color: #333;
        font-size: 1.2rem;
        font-weight: normal;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            color: #666;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .status {
    padding: 2em 0;

    // 030 Happy Fisher
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

    .file-input {
      // margin: 32px auto;

      label.file {
        display: block;
        width: 80vw;
        max-width: 500px;
        margin: 32px auto;
        padding: 8px 16px;
        border: 2px solid #fff;
        border-radius: 20px;
        // 084 Phoenix Start
        background: rgba(255,255,255,0);
        // background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        transition: all .1s ease-in-out;

        &:hover {
          // 102 Happy Memories
          // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
          background: rgba(255,255,255,.1);
        }

        input.file {
          display: none;
        }
      }  
    }

    button {
      outline: none;
      appearance: none;
      margin: 0;
      padding: 0;
      border: 0;
      cursor: pointer;
    }

    button.standby {
      background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    }

  }
}