// Semantic UI
// @primaryColor   : @pink;
// @secondaryColor : @grey;
// @red            : #B03060;
// @orange         : #FE9A76;
// @yellow         : #FFD700;
// @olive          : #32CD32;
// @green          : #016936;
// @teal           : #008080;
// @blue           : #0E6EB8;
// @violet         : #EE82EE;
// @purple         : #B413EC;
// @pink           : #FF1493;
// @brown          : #A52A2A;
// @grey           : #A0A0A0;
// @black          : #000000;

.host {

  header {
    width: 100%;
    height: 90px;
    background: #fff;

    // 055 Sharp Blues
    // background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);

    // 030 Happy Fisher
    // background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

    & > div {
      max-width: 940px;
      height: 90px;
      margin: 0 auto;
      padding: 0 16px;

      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        padding: 0;
        color: #333;
        font-size: 1.2rem;
        font-weight: normal;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            color: #666;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main {
    min-height: calc(100vh - 4em - 90px);
    padding: 2em 0;

    // 030 Happy Fisher
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

    .tutorial {
      width: 95vw;
      max-width: 600px;
      margin: 0 auto 24px;
      padding: 24px;
      border-radius: 8px;
      background: rgba(255,255,255,.5);
      box-sizing: border-box;

      h3 {
        margin: 0 0 8px;
        padding: 0;
        font-size: 16px;
        font-weight: normal;
      }

      p {
        font-size: 14px;
        color: #333;
      }

      ol {
        margin: 0;
        padding: 0;

        li {
          font-size: 14px;
          color: #333;
        }
      }

      .url {
        margin-top: 24px;
        font-size: 14px;

        span {
          display: inline-block;
          padding: 2px 8px 2px 6px;
          border-radius: 8px 0 0 8px;
          background: rgba(0,0,0,.1);
          // line-height: 26px;
        }

        a {
          display: inline-block;
          padding: 2px 6px;
          color: #333;
          text-decoration: none;

          &:hover {
            background: rgba(0,0,0,.1);
            text-decoration: underline;
          }
        }

        .copy-button {
          display: inline-block;
          margin: 0;
          padding: 2px 8px;
          border-radius: 0 8px 8px 0;
          background: inherit;
          color: #666;
          cursor: pointer;

          &:hover {
            background: rgba(0,0,0,.1);
          }

          &:active {
            background: rgba(0,0,0,.2);
          }

          i {
            margin-left: .2em;
            font-size: 14px;
          }
        }
      }

      span.url-guide {
        font-size: .6em;
        color: #666;
      }

      img.qr-code {
        display: block;
        margin-top: 24px;
        border-radius: 8px;
      }
    }


    .status {
      width: 95vw;
      max-width: 600px;
      margin: 0 auto;
      padding: 0;
      border-radius: 8px;
      background: rgba(255,255,255,.5);

      .data-channel-status {
        margin: 0 24px;
        padding: 24px 0;
        text-align: center;
        font-size: 14px;

        & > div {
          display: inline-block;
          color: #fff;

          label {
            padding: 2px 6px 2px 2px;
            border-radius: 0 8px 8px 0;
          }

          span {
            padding: 2px 2px 2px 6px;
            border-radius: 8px 0 0 8px;
          }

          &.ok label, &.ok span {
            background: #3880ff;
          }

          &.ng label, &.ng span {
            background: #f04141;
          }
        }
      }
    }

    // .file-input {
    //   // margin: 32px auto;

    //   label.file {
    //     display: block;
    //     width: 80vw;
    //     max-width: 500px;
    //     margin: 32px auto;
    //     padding: 8px 0;
    //     border: 2px solid #fff;
    //     border-radius: 20px;
    //     // 084 Phoenix Start
    //     background: rgba(255,255,255,0);
    //     // background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    //     color: #fff;
    //     font-size: 16px;
    //     font-weight: bold;
    //     cursor: pointer;
    //     text-align: center;
    //     transition: all .1s ease-in-out;
    //     box-sizing: border-box;

    //     &:hover {
    //       // 102 Happy Memories
    //       // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    //       background: rgba(255,255,255,.1);
    //     }

    //     input.file {
    //       display: none;
    //     }
    //   }
    // }

    // button.send-button {
    //   display: block;
    //   width: 80vw;
    //   max-width: 500px;
    //   margin: 32px auto;
    //   padding: 8px 0;
    //   border: 2px solid #fff;
    //   border-radius: 20px;
    //   background: rgba(255,255,255,0);
    //   // 084 Phoenix Start
    //   // background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    //   // 102 Happy Memories
    //   background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

    //   color: #fff;
    //   font-size: 16px;
    //   font-weight: bold;
    //   cursor: pointer;
    //   text-align: center;
    //   transition: all .2s ease-in-out;
    //   box-sizing: border-box;

    //   &:hover {
    //     // background: rgba(255,255,255,.1);
    //     // 102 Happy Memories
    //     // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    //     color: #eee;
    //   }

    //   &.disable {
    //     border-color: rgba(255,255,255,.6);
    //     background: rgba(255,255,255,0);
    //     color: rgba(255,255,255,.6);
    //     cursor: default;

    //     &:hover {
    //       background: rgba(255,255,255,0);
    //       color: rgba(255,255,255,.6);
    //     }
    //   }
    // }

    // ul.send-file-list {
    //   width: 95vw;
    //   max-width: 600px;
    //   margin: 0 auto;
    //   padding: 0;
    //   list-style: none;

    //   li {
    //     -webkit-animation: fadein .2s 1 ease;
    //     animation: fadein .2s 1 ease;

    //     &.send-filelist {
    //       margin: 8px auto;
    //       padding: 0 24px 24px;
    //       border-radius: 8px;
    //       background: rgba(255,255,255,.5);
    //       cursor: default;
    //       transition: background-color .2s ease-in-out 0s;

    //       &:hover {
    //         background: rgba(255,255,255,.6);
    //       }

    //       .send-status {
    //         text-align: right;
    //         font-size: 12px;
    //         height: 24px;

    //         & > span {
    //           display: inline-block;
    //           padding: 2px 6px;
    //           background: rgba(0,0,0,.1);
    //           transition: background-color .2s ease-in-out 0s;
    //           cursor: pointer;

    //           &:hover {
    //             background: rgba(255,255,255,.6);
    //           }

    //           span.delete {
    //             margin-left: 6px;
    //             color: #666;
    //           }
    //         }

    //         &.complete > span {
    //           color: #fff;
    //           background: rgba(56,128,255,.6);

    //           &:hover {
    //             background: rgba(56,128,255,.8);
    //           }

    //           span.delete {
    //             color: #fff;
    //           }
    //         }

    //         &.failed > span {
    //           color: #fff;
    //           background: rgba(240,65,65,.6);

    //           &:hover {
    //             background: rgba(240,65,65,.8);
    //           }

    //           span.delete {
    //             color: #fff;
    //           }
    //         }
    //       }

    //       .send-info {
    //         display: flex;

    //         .file-icon {
    //           width: 48px;
    //           margin-right: 24px;

    //           display: flex;
    //           justify-content: center;
    //           align-items: center;

    //           i {
    //             color: #888;
    //             font-size: 32px;
    //           }

    //           .send-percent {
    //             position: absolute;
    //             margin: 0;
    //             padding: 0 4px;
    //             border-radius: 10px;
    //             // font-family: fira-mono,monospace;
    //             // font-family: source-code-pro, monospace;
    //             font-family: ocr-b-std, monospace;
    //             font-size: 12px;
    //             text-align: right;
    //             background: rgba(255,255,0,.8);

    //             &.standby {
    //               opacity: 0;
    //             }

    //             &.sending {
    //               // transition: all .1s ease-in-out 0s;
    //             }

    //             &.complete {
    //               opacity: 0;
    //               background: rgba(255,255,255,.8);
    //               transition: all 2s ease-in-out 0s;
    //             }
    //           }
    //         }

    //         .detail {
    //           flex: 1;

    //           .file-name {
    //             font-size: 14px;
    //             // font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    //             // font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    //             // font-family: ocr-b-std, monospace;
    //             font-family: "Noto Sans JP",sans-serif;
    //             line-height: 16px;
    //             word-break: break-all;
    //           }

    //           .send-size {
    //             margin: 2px 0 0 0;
    //             padding: 0;
    //             font-family: ocr-b-std, monospace;
    //             font-size: 12px;
    //             color: #888;
    //             line-height: 14px;
    //           }

    //           .send-progress-bar {
    //             position: relative;
    //             margin: 0;
    //             padding: 0;

    //             &.standby {
    //               opacity: 0;
    //             }

    //             &.sending {
    //               // transition: all .1s ease-in-out 0s;
    //             }

    //             &.complete {
    //               opacity: 0;
    //               background: rgba(255,255,255,.8);
    //               transition: all .5s ease-in-out 0s;
    //             }

    //             .send-progress {
    //               position: absolute;
    //               top: 0;
    //               left: 0;
    //               width: 100%;
    //               height: 4px;
    //               border-radius: 2px;
    //               z-index: 2;
    //               background: linear-gradient(rgba(3,213,250,1),rgba(3,213,250,1)) no-repeat rgba(255,255,255,.8);
    //               background-size: 0% 100%;
    //             }

    //             // .load-progress {
    //             //   position: absolute;
    //             //   top: 0;
    //             //   left: 0;
    //             //   width: 100%;
    //             //   height: 4px;
    //             //   border-radius: 2px;
    //             //   z-index: 1;
    //             //   background: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)) no-repeat rgba(255,255,255,.2);
    //             //   background-size: 0% 100%;
    //             // }
    //           }
    //         }

    //         // .delete {
    //         //   width: 48px;
    //         //   margin-left: 32px;

    //         //   display: flex;
    //         //   justify-content: center;
    //         //   align-items: center;

    //         //   i {
    //         //     color: #888;
    //         //     font-size: 12px;
    //         //   }
    //         // }
    //       }
    //     }

    //     // 削除済みファイル
    //     // &=li
    //     &.send-filelist.deleted {
    //       margin: 8px auto;
    //       padding: 0 24px 24px;
    //       border-radius: 8px;
    //       background: rgba(255,255,255,.2);
    //       cursor: default;
    //       transition: background-color .6s ease-in-out 0s;

    //       &:hover {
    //         background: rgba(255,255,255,.2);
    //       }

    //       .send-status {
    //         color: #000;

    //         & > span {
    //           background: rgba(255,255,255,.2);
    //           cursor: default;

    //           &:hover {
    //             background: rgba(255,255,255,.2);
    //           }
    //         }
    //       }

    //       .send-info {
    //         .file-icon {
    //           i {
    //             color: rgba(0,0,0,.1);
    //             transition: color .6s ease-in-out 0s;
    //           }
    //         }
    //       }
    //       .detail {
    //         .file-name {
    //           color: #888;
    //           transition: color .6s ease-in-out 0s;
    //         }
    //         .send-size {
    //           color: #aaa;
    //           transition: color .6s ease-in-out 0s;
    //         }
    //       }
    //     }
    //   }
    // }

    // .no-file {
    //   font-size: 14px;
    //   text-align: center;

    //   p {
    //     margin: 0;
    //   }
    // }

    // button {
    //   outline: none;
    //   appearance: none;
    //   margin: 0;
    //   padding: 0;
    //   border: 0;
    //   cursor: pointer;
    // }

    // button.standby {
    //   background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    // }

  }
}